.editmovie-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  height: 700px;
  margin-top: 50px;
  background: #fff;
  padding-bottom: 30px;
  border-radius: 15px;
}

.editmovie-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 20px;
}

.editMovie-text {
  color: #c92817;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 5px;
}

.editmovie-underline {
  width: 61px;
  height: 6px;
  background: #c92817;
  border-radius: 9px;
}

.editmovie-inputs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.editmovie-inputs {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.editmovie-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.editmovie-input-date {
  display: flex;
  margin: auto;
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.editmovie-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c92817;
  text-align: center;
  width: 220px;
  height: 59px;
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.editmovie-submit-container {
  margin-top: 0.0006rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(0.5);
}

.editmovie-label-date {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.editmovie-input-file {
  margin: auto;
}
